<div class="text-center bg-dark text-white p-2 fixed-bottom w-100 border-top border-light">
    <small>Made by
        <a class="text-reset fw-bold" target="_blank" href="https://github.com/abhimazumder">Abhishek Mazumder</a>
    </small>
</div>
</body>

</html>