<%- include('./partials/header') %>

    <div class="container my-5">
        <div class="text-center">
            <h1>Add Members &#128101;</h1>
            <div class="mt-5">
                <form action="/addmember" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" id="membername" name="membername" required
                            placeholder="Enter Member">
                        <button class="btn btn-dark" type="submit">Add</button>
                    </div>
                </form>
            </div>
            <div class="mt-5">
                <select class="form-select form-select-lg bg-dark text-white mt-5">
                    <option value="" disabled selected>Click to view added members</option>
                    <% for(let member of members) { %>
                        <option class="bg-light text-black">
                            <%= member %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div class="mt-5">
                <a href="/" class="btn btn btn-dark m-1">Home</a>
                <a href="/addmember/clear" class="btn btn btn-dark m-1">Clear Members</a>
                <a href="/addmember/next" class="btn btn btn-dark m-1">Next</a>
            </div>
            <% if(warning){ %>
                <div class="alert alert-warning m-5" role="alert" style="padding:3px;">
                    &#9888; Clearing members now will clear out all spend records!
                </div>
                <% } else if(members.length < 2){ %>
                    <div class="alert alert-info m-5" role="alert" style="padding:3px;">
                        &#8505; To continue, you must add at least 2 members.
                    </div>
                    <% } %>
        </div>
    </div>

    <%- include('./partials/footer') %>